<p id="notice"><%= notice %></p>

<h1>Object Thrives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @object_thrives.each do |object_thrife| %>
      <tr>
        <td><%= link_to 'Show', object_thrife %></td>
        <td><%= link_to 'Edit', edit_object_thrife_path(object_thrife) %></td>
        <td><%= link_to 'Destroy', object_thrife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Object Thrife', new_object_thrife_path %>
