<!DOCTYPE html>
<html>
  <head>
    <title>Thrive</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
       <ul>
         <a href="#" id="brand">Thrive&Fusion</a>
         <a href="#">Home</a>
         <a href="#"> Contact</a>
         <a href="#">About</a>
       </ul>
      </nav>
    <%= yield %>

    <footer>
     <span class="copywright"><a href="#">THRIVE&FUSION</a>&copy;2018 | <a href="#">TERMS-CONTACT</a></span><span class="social"><a href="#">FACEBOOK</a> | <a href="#">TWITTER</a></span>
   </footer>
  </body>
</html>
